p {
    text-align: center;
}
.text-intro-container{
    padding: 10px;
}
.text-intro{
    font-family: Gyahegi;
    font-size: 4em;
    display: grid;
}
/*FIRST SECTION*/
.first-section {
    padding-bottom: 2em;
    
}
.intro {
    display: -webkit-flex;
    display: flex;
    justify-content: center;
}
.first-letter {
    font-size: 1.4em;
}
.initial {
    font-size: 1.5em;
    font-weight: lighter;
    margin: 1em 2em;
  }

/* Under 678px screen */
@media screen and (max-width: 678px) {
    .initial {
        font-size:0.8em;
    }
}


/*SECOND SECTION*/

.second-section-text {
    font-size: 1.5em;
    font-weight: lighter;
}
.second-images-box {
    display: flex;
    justify-content: center;
}
 /*images before and after*/
 .before{
     width: 34em;
     height: auto;
 }
 .after{
    width: 34em;
    height: auto;
}

/* Under 1095px screen */
@media screen and (max-width: 1095px) {
    .text-intro{
        font-size: 2.5em;
    }
    .before {
        width: 20em;
        height: auto;
    }
    .after {
        width: 20em;
        height: auto;
    }
}


/* Under 678px screen */
@media screen and (max-width: 678px) {
    .text-intro{
        font-size: 2em;
    }
    .second-section-text {
        font-size: 0.8em;
    }
    .before {
        width: 16em;
        height: auto;
    }
    .after {
        width: 16em;
        height: auto;
    }
}


/* Under 519px screen */
@media screen and (max-width: 519px) {
    .text-intro{
        font-size: 1.6em;
        line-height: 4em;
        margin-top: 6em;
        height: 66vh;
    }
    .second-images-box {
        flex-direction: column;
        align-items: center;
    }
    .before {
        width: 20em;
        height: auto;
    }
    .after {
        width: 20em;
        height: auto;
    }
}


